In [8]:
# Importamos las librer√≠as necesarias
#Fernando
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np  # import numpy para el manejo de arrays
from sklearn.model_selection import train_test_split

In [71]:
#Cargamos el Dataset
df = pd.read_csv('C:/Users/Fer/Documents/Fernando/archivospython/WA_Fn-UseC_-HR-Employee-Attrition.csv', sep=',')
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [72]:
#Transofrmamos variables a binarias

#Transformo variable BusinessTravel categorica a Binaria
dummies = pd.get_dummies(df['BusinessTravel'], prefix='BusinessTravel')
#dummies
df = pd.concat([df, dummies], axis=1)
df=df.drop('BusinessTravel',axis='columns')

#Transformo variable Department categorica a Binaria
dummies = pd.get_dummies(df['Department'], prefix='Department')
#dummies
df = pd.concat([df, dummies], axis=1)
df=df.drop('Department',axis='columns')

#Transformo variable EducationField categorica a Binaria
dummies = pd.get_dummies(df['EducationField'], prefix='EducationField')
#dummies
df = pd.concat([df, dummies], axis=1)
df=df.drop('EducationField',axis='columns')

#Transformo variable Gender categorica a Binaria
dummies = pd.get_dummies(df['Gender'], prefix='Gender')
#dummies
df = pd.concat([df, dummies], axis=1)
df=df.drop('Gender',axis='columns')

#Transformo variable Gender categorica a Binaria
dummies = pd.get_dummies(df['MaritalStatus'], prefix='MaritalStatus')
#dummies
df = pd.concat([df, dummies], axis=1)
df=df.drop('MaritalStatus',axis='columns')

In [73]:
#Cambiamos yes o NO por 1 o 0
df['Attrition'] = df['Attrition'].factorize(['No','Yes'])[0]

#Cambiamos yes o NO por 1 o 0
df['OverTime'] = df['OverTime'].factorize(['No','Yes'])[0]

#Cambiamos Y o N por 1 o 0
df['Over18'] = df['Over18'].factorize(['Y','N'])[0]

In [74]:
#Eliminamos el Role "JobRole" ya que no es relevante para la prediccion
df=df.drop('JobRole',axis='columns')

In [75]:
print(df.columns)

Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Female', 'Gender_Male',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single'],
      dtype='object')

In [76]:
# Definimos las variables independientes y la variable dependiente
X = df[['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Female', 'Gender_Male',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single']]
y = df['Attrition']

In [77]:
# Creamos el modelo de regresi√≥n log√≠stica
model = LogisticRegression()

In [78]:
#Definimos Datos para Entregamiento y Test
validation_size = 0.20
seed = 7
X_train, X_test, Y_train, y_test = train_test_split(X, y, test_size=validation_size, random_state=seed)

In [79]:
X_test

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
71,29,1328,2,3,1,94,3,76,3,1,...,True,False,False,False,False,False,True,False,True,False
259,31,307,29,2,1,355,3,71,2,1,...,False,False,True,False,False,False,True,False,False,True
363,33,350,5,3,1,485,4,34,3,1,...,False,True,False,False,False,True,False,False,False,True
185,33,931,14,3,1,252,4,72,3,1,...,False,False,True,False,False,True,False,False,True,False
1015,34,560,1,4,1,1431,4,91,3,1,...,False,False,False,True,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,42,916,17,2,1,347,4,82,4,2,...,True,False,False,False,False,True,False,False,False,True
152,53,1436,6,2,1,205,2,34,3,2,...,False,True,False,False,False,False,True,False,True,False
194,45,1195,2,2,1,264,1,65,2,4,...,False,False,True,False,False,False,True,False,True,False
832,37,367,25,2,1,1161,3,52,2,2,...,False,False,True,False,False,True,False,True,False,False
68,35,664,1,3,1,88,2,79,3,1,...,False,False,True,False,False,False,True,False,True,False

In [80]:
y_test

71      0
259     1
363     1
185     0
1015    0
       ..
253     0
152     0
194     0
832     0
68      0
Name: Attrition, Length: 294, dtype: int64

In [81]:
#Entrenamos el Modelo
model.fit(X_train, Y_train)

c:\Users\Fer\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [82]:
# Hacemos una predicci√≥n con datos nuevos
new_data = [[41,1102,1,2,1,1,2,94,3,2,4,5993,19479,8,1,1,11,3,1,80,0,8,0,1,6,4,0,5,0,1,0,0,1,0,0,0,0,0,0,1,0,1,1,0,0,]]
predicted = model.predict(new_data)

# Imprimimos los resultados
print(predicted)

[0]

c:\Users\Fer\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(